<h3> POST DETAILS: </h3>
<br/>
<p>
    <%= @row['content'] %>
    <br/>
    <br/>
    Added at: <%= @row['create_date'] %>
</p>

<br/>
<br/>

<h4>All post comments:</h4>
<p> 
	<% @comments.each do |com| %>
		<p>
	        <%= com['content'] %>
	        <br/>
	        <span style="font-size:75%">added:  <%= com['create_date'] %> </span>
		</p>

		<hr/>
	<% end %>	
</p>

<br/>
<h5>Comments</h5>
<p>
	<form action="/details/<%= @row['id'] %>" method="POST">
		<textarea name="content" class="form-control" rows="6" placeholder="Comments text here" ></textarea>
		<br/>
		<br/>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>

</p>



